.side-nav li:hover{
  width: 100%;
  background-color: red;
  font-weight: bold;
  text-align: center;
}
.side-nav li >a:hover{
  font-size: 18px;
  color: white;
}
.side-nav li{
  text-align: center;
  color: black;
}
.myIcon{
  height: 120px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: red;
}
.post_area p{
  font-weight: bold;
  color:red;
  /*#b30000*/
}
#myP{
  color: black;
  font-weight: normal;
  font-size: 13px;
  
}
#myP :hover{
  color: red;
}
#commentSpacing{
  margin-top: -15px;
  margin-bottom: -10px;
}
.post_likes{
  margin-top: -30px;
  margin-right: 40px;
  font-weight: bold;
}

.save_post_area{
  margin-right: 70px;
  margin-bottom: 30px;
  margin-top: 30px;

}
.edit_delete_post_area{
  margin-top: 30px;
  margin-bottom: 10px;
}
.loginfooter{
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 30px;
}
#post_area_li{
  list-style-type: none;
  width: 100%;
}
#my_post_area_li{
  list-style-type: none;
}
#comment_area{
  list-style-type: none;
}
.hide{
    display: none;
  } 
.save_post_area{
  margin-bottom: -20px;
  margin-top: -50px;

  }
.styleComments p{
  cursor: pointer; 
  cursor: hand;
}
#editPostbtn{
  margin-top: 10px;
  margin-bottom: 20px;
}
#my_bar{
  display: inline;
}
#login_hand{
  cursor: pointer; 
  cursor: hand;
  font-weight: bold;
}
#login_hand :hover{
  color:black;
}